<header>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="#">Drawing Pad</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/marcsalvador/drawing-pad" tooltip="Visit GitHub Repositiry"
            placement="bottom">
            <i class="fab fa-github"></i>&nbsp;<span class="d-sm-none d-md-none d-lg-none">Visit GitHub
              Repository</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/marcsalvador/drawing-pad/archive/master.zip"
            tooltip="Download Code" placement="bottom">
            <i class="fas fa-download"></i>&nbsp;<span class="d-sm-none d-md-none d-lg-none">Download Code</span>
          </a>
        </li>
        <li class="nav-item">
          <span class="nav-link">
            <i class="fas fa-code-branch"></i>&nbsp;{{environment.package.version}}
          </span>
        </li>
      </ul>
    </div>
  </nav>

</header>

<section class="container-fluid">
  <br>
  <form [formGroup]="formGroup" autocomplete="off" novalidate (ngSubmit)="submit()">
    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Signature Pad</mat-label>
          <app-drawing-pad formControlName="signature" markerWidth="3"></app-drawing-pad>
        </mat-form-field>
      </div>
      <div class="col-6">
        <img [src]="formGroup.controls.signature.value">
      </div>
    </div>
    <div class="row">
      <div class="col-6">     
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>With Background</mat-label>
          <app-drawing-pad formControlName="withBackground" markerWidth="3"></app-drawing-pad>
        </mat-form-field>
      </div>
      <div class="col-6">
        <img [src]="formGroup.controls.withBackground.value">
      </div>
    </div>
    <div class="row">
      <div class="col-6">      
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Load Image</mat-label>
          <app-drawing-pad formControlName="load" markerWidth="3" showLoadTool="true"></app-drawing-pad>
        </mat-form-field>
      </div>
      <div class="col-6">
        <img [src]="formGroup.controls.load.value">
      </div>
    </div>
    <div class="row">
      <div class="col-6">      
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>With Marker Options</mat-label>
          <app-drawing-pad formControlName="markerOption" markerWidth="3" showMarkerOptions="true"></app-drawing-pad>
        </mat-form-field>
      </div>
      <div class="col-6">
        <img [src]="formGroup.controls.markerOption.value">
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>With Zoom</mat-label>
          <app-drawing-pad formControlName="withZoom" markerWidth="3" showZoom="true"></app-drawing-pad>
        </mat-form-field>
      </div>
      <div class="col-6">
        <img [src]="formGroup.controls.withZoom.value">
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>With Undo and Redo</mat-label>
          <app-drawing-pad formControlName="withUndo" markerWidth="3" showUndoRedoTool="true"></app-drawing-pad>
        </mat-form-field>
      </div>
      <div class="col-6">
        <img [src]="formGroup.controls.withUndo.value">
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Show All Functionality</mat-label>
          <app-drawing-pad formControlName="showAll" markerWidth="3" showLoadTool="true" showMarkerOptions="true"
            showZoom="true" showUndoRedoTool="true" showUndoRedoTool="true"></app-drawing-pad>
        </mat-form-field>
      </div>
      <div class="col-6">
        <img [src]="formGroup.controls.showAll.value">
      </div>
    </div>
  </form>
</section>